{% extends 'base.html' %}

{% block title %} Close Contact List {% endblock title %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'user_list'%}">User List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'logs_list'%}">Covid Logs List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" href="{% url 'cc_list'%}">Close Contact List</a>
  </li>
{% endblock%}

{% block content%}
  <div class="container-fluid mt-4">
      <div class="d-inline-block">
          <a href="{% url 'cc_new' %}"><button class="btn btn-secondary">Create New Close Contact</button></a>
          <a href="{% url 'user_new' %}"><button class="btn btn-secondary">Create New User</button></a>
      </div>
      {% for cc in all_cc_list %}
        <div class="card mt-4">
            <a style="text-decoration: none;" href="{% url 'cc_detail' cc.pk %}">
                <div class="card-header">
                    <span class="font-weight-bold d-block"><h3>{{ cc.close_user_id }} is a close contact of {{ cc.covid_user_id }}</h3></span>
                    <span class="text-muted">Recorded by: {{ cc.staff_id }}</span>
                </div>
            </a>
        </div>
      {% endfor %}
  </div>
{% endblock content%}
