{% extends 'base.html' %}

{% block title %}Church System{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<br />
<div class="jumbotron">
    <h1 class="display-4">Church System App</h1>
    <p class="lead">A Church system app for tracking all members of the church.</p>
    {% if user.is_authenticated %}
        <hr class="my-2">
        <h2>Welcome, {{ user.username }}!</h2>
        <p class="lead">What do you want to do today?</p>
        <a href="{% url 'attend_list' %}"><button class="btn btn-danger">View Attendance List</button></a>
        <a href="{% url 'ref_list' %}"><button class="btn btn-dark">View Covid Reference List</button></a>
        <a href="{% url 'user_list' %}"><button class="btn btn-success">View User List</button></a>
    {% endif %}
</div>
{% endblock content %}
