{% extends 'base.html' %}

{% block title %} Covid Reference List {% endblock title %}

{% block navbar %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'attend_list'%}">Attendance List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" href="{% url 'ref_list' %}">Covid Reference List</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'user_list'%}">User List</a>
  </li>
{% endblock%}

{% block content%}
  <div class="container-fluid mt-4">
      <a href="{% url 'ref_new' %}"><button class="btn btn-secondary">Create New Covid Reference</button></a>
      {% for ref in all_refs_list %}
        <div class="card mt-4">
            <a style="text-decoration: none;" href="{% url 'ref_detail' ref.pk %}">
                <div class="card-header">
                    <span class="font-weight-bold d-block"><h3>{{ ref.user }}</h3></span>
                    <span class="text-muted">Recorded by {{ ref.staff_id }}</span>
                </div>
                <div class="card-body">
                    <p class="lead">Reference ID: {{ ref.covid_reference_id }}</p>
                </div>
            </a>
        </div>
      {% endfor %}
  </div>
{% endblock content%}
