{% extends 'base.html' %}
{% load static %}

{% block title %} Covid Reference Detail {% endblock title %}

{% block script %}
    <script type="text/javascript">
        firstName = "{{ ref.user.first_name }}";
        middleName =  "{{ ref.user.middle_name }}";
        lastName = "{{ ref.user.last_name }}";
        covidID = "{{ ref.covid_reference_id }}";
        currentID = "{{ ref.user_id }}";
    </script>
{% endblock %}

{% block content %}
    <div class="card mt-4">
        <div class="card-header">
            <span class="font-weight-bold d-block"><h3>{{ ref.user }}</h3></span>
        </div>
        <div class="card-body">
            <p class="lead">Covid Reference ID: {{ ref.covid_reference_id }}</p>
            <p class="lead">Recorded by: {{ ref.staff_id }}</p>
            <p class="lead">Verified: <span class="badge badge-pill badge-secondary">{{ ref.verified }}</span></p>
        </div>
        {% if not ref.verified %}
        <div class="card-footer d-inline-block" id="app">
            <button class="btn btn-primary" @click="verifyCovidReference">Verify</button>
            [[ message ]]
        </div>
        {% endif %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js">
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="{% static 'js/app.js' %}" charset="utf-8"></script>
{% endblock content%}
